# This is deprecated.  Using startup iptables configs now.
# Add in the iptables entries if they need to be made.
# Make this more dnamic (take in vars)
---
- name: Setup Port Forwarding Rules to make minikube work off local
  hosts: nucbuntu
  vars:
    minikube_ip_address: 192.168.49.2
    minikube_http_port: 30007
    minikube_ssl_port: 30008
    minikube_jenkins_node_port: 32000
    nuc_jenkins_listening_port: 8989
    interface_name: eno1

  tasks:
    - name: Check Minikube is running
      ansible.builtin.command: minikube status -o=json
      register: minikube_result_json
      changed_when: false
    - name: Start minikube
      ansible.builtin.command: minikube start --driver=docker --mount /kube_host
      when: (minikube_result_json.stdout | from_json).Host == "Stopped"
      changed_when: (minikube_result_json.stdout | from_json).Host == "Stopped"
