[Unit]
Description=Setup IPTables Rules for Minikube
After=network-online.target

[Service]
ExecStart=/usr/local/bin/iptables_configure.sh
Restart=on-failure
User=root

[Install]
WantedBy=default.target
