[Unit]
Description=Start minikube
After=network-online.target

[Service]
ExecStart=/usr/local/bin/start_minikube.sh
Restart=on-failure
User=kevin

[Install]
WantedBy=default.target